

.slider__block {
    max-width: 700px;
    margin: 50px auto;
    color: #fff;
    padding: 20px;
    background-color: rgb(89, 85, 85);
    border-radius: 25px;
    .slider__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .slider__img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: gray;
    }

    
}
.slider_btns {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 150px;
    .prev , .next {
        border: 1px solid gray;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
    cursor: pointer;
z-index: 200;
        justify-content: center;
    }
}