$bgColor : #7c3f2d;
$secColor : #ffff ;

footer {
    padding: 20px ;
    background-color: rgba(128, 128, 128, 0.522);
    color: $secColor;
    // max-width: 1100px;
    margin: 0 auto;
    // border-radius: 15px;
}