

.home {
    background-color: #000  ;

    background-image: url('../../assets/homebg.jpg  ');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    // &::before {
    //     content: "";
    //     position: absolute;
    //     left: 0;
    //     width: 100%;
    //        height: 100vh;
    //     background-image: url('../../assets/hernya.png');
    //     background-repeat: no-repeat;
    //     background-position: center;
    //     background-size: cover;
    // }
    .title_block  {
        position: relative;
        text-align: center;

        h1{
            font-size: 48px;
            color: #fff;
        }
        p {
            color: #fff;
        }
    }   

    .logo_block {
        text-align: center;
        padding-top: 120px;
            img {
                max-width: 400px;
                width: 100%;
            }
    }
    .adress {
        display: flex;;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        font-size: 18px;
        color: rgb(159, 147, 147);
    }
    .home_text {
        font-size: 18px;
        font-weight: 300;
        max-width: 520px;
        padding-top: 20px;
        margin: 0 auto;
    }
}
